<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <springProfile name="prod">
        <property name="LOGSTACH_URI" value="10.49.3.81:5000"/>
    </springProfile>
    <springProfile name="stage">
        <property name="LOGSTACH_URI" value="10.49.198.113:5000"/>
    </springProfile>
    <springProfile name="test, dev">
        <property name="LOGSTACH_URI" value="10.49.197.72:5000"/>
    </springProfile>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/server/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/server/server.log.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>[%d][%-5level][%-10logger{0}]]:%msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="another" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/another/another.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/another/another.log.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>[%d][%-5level][%-10logger{0}]]:%msg%n</Pattern>
        </encoder>
    </appender>

    <!--***************************************************************************************************************-->

    <appender name="server_async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="server"/>
    </appender>

    <appender name="another_async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="another"/>
    </appender>


    <!--***************************************************************************************************************-->

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="another" level="DEBUG" additivity="false">
        <appender-ref ref="another_async" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="server_async"/>
    </root>

</configuration>